<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <!-- Limited to 99 entries -->
    <add key="POS" value="192.18.96.50" />
    <add key="Scales" value="192.168.1.120" />
    <add key="SM-100" value="192.168.0.1" />
    <add key="Standard Subnet" value="255.255.255.0" />
  </appSettings>
</configuration>